.hero-banner {
  $hidden-animation-duration: 0.6s;
  &--first-square-wrapper,
  &--second-square-wrapper {
    position: absolute;
    width: fit-content;
    bottom: 0;
    left: 0;
    opacity: 1;
    display: flex !important;
    &.hidden {
      position: fixed;
      animation: controlVisibility 0.8s forwards ease;
    }

    @include desktop {
      height: 76vh;
      min-width: 547px;
      z-index: 1000;
      overflow: visible;
    }
    @include mobile {
      min-width: 174px;
      z-index: 1001;
    }
    @include responsive {
      z-index: 1001;
      min-width: 447px !important;
    }
  }
  &--first-square-wrapper {
    align-items: flex-end;
  }
  &--second-square-wrapper {
    bottom: unset;
    left: unset;
    right: 0;
    top: 0;
  }

  &--first-square-container,
  &--second-square-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    @include desktop {
      height: 76lvh;
    }
    @include mobileAndResponsive {
      height: fit-content !important;
    }
  }

  &--first-square-item,
  &--second-square-item {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    background-color: $principal-blue;
    transition: opacity 0.2s ease-in-out;

    @include desktop {
      height: 100%;
    }

    @include mobileAndResponsive {
      height: unset;
    }
  }

  &--first-square-item {
    @include desktop {
      &.default {
        opacity: 0;
        @include squareAnimation(7, 0.2s, left, scaleXAndFadeIn, 0.5s);
        @include squareAnimation(9, 0.3s, top, scaleYAndFadeIn, 0.5s);
        @include squareAnimation(11, 0.4s, bottom, scaleYAndFadeIn, 0.5s);
      }
      &.hidden {
        opacity: 0;
        @include squareAnimation(
          3,
          0.3s,
          bottom,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          5,
          0.2s,
          right,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          6,
          0.1s,
          left,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          7,
          0.2s,
          right,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          11,
          0.1s,
          top,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          12,
          0,
          left,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
      }
    }
    @include mobile {
      &.default {
        opacity: 0;

        @include squareAnimation(4, 0.1s, left, scaleXAndFadeIn, 0.5s);
        @include squareAnimation(8, 0.3s, bottom, scaleYAndFadeIn, 0.5s);
        @include squareAnimation(10, 0.3s, bottom, scaleYAndFadeIn, 0.5s);

        &:nth-child(7),
        &:nth-child(9),
        &:nth-child(11) {
          opacity: 0 !important;
        }
      }
      &.hidden {
        opacity: 0;

        @include squareAnimation(
          3,
          0.3s,
          bottom,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          5,
          0.2s,
          left,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          6,
          0.3s,
          top,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          7,
          0.2s,
          right,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          11,
          0.1s,
          top,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          12,
          0,
          left,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
      }
    }
    @include responsive {
      &.default {
        opacity: 0;

        @include squareAnimation(7, 0.2s, left, scaleXAndFadeIn, 0.5s);
        @include squareAnimation(9, 0.3s, top, scaleYAndFadeIn, 0.5s);
        @include squareAnimation(11, 0.4s, bottom, scaleYAndFadeIn, 0.5s);
      }
      &.hidden {
        opacity: 0;

        @include squareAnimation(
          3,
          0.3s,
          bottom,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          5,
          0.2s,
          left,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          6,
          0.3s,
          top,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          7,
          0.2s,
          right,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          11,
          0.1s,
          top,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          12,
          0,
          left,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
      }
    }
  }

  &--second-square-item {
    @include desktop {
      &.default {
        opacity: 0;
        @include squareAnimation(2, 0s, right, scaleXAndFadeIn, 0.5s);
        @include squareAnimation(6, 0.1s, top, scaleYAndFadeIn, 0.5s);
        @include squareAnimation(8, 0.2s, bottom, scaleYAndFadeIn, 0.5s);
        @include squareAnimation(12, 0.3s, left, scaleXAndFadeIn, 0.5s);
      }
      &.hidden {
        opacity: 0;

        @include squareAnimation(
          12,
          0.1s,
          left,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          6,
          0.3s,
          top,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          11,
          0.2s,
          bottom,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          8,
          0.3s,
          right,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          1,
          0.2s,
          top,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          2,
          0.1s,
          left,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
      }
    }
    @include mobile {
      &.default {
        opacity: 0;

        @include squareAnimation(2, 0.1s, left, scaleXAndFadeIn, 0.5s);
        @include squareAnimation(6, 0.2s, top, scaleYAndFadeIn, 0.5s);
        @include squareAnimation(8, 0.3s, bottom, scaleYAndFadeIn, 0.5s);

        &:nth-child(12) {
          opacity: 0 !important;
        }
      }
      &.hidden {
        opacity: 0;

        @include squareAnimation(
          12,
          0.1s,
          left,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          6,
          0.3s,
          top,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          8,
          0.3s,
          right,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          1,
          0.2s,
          top,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
      }
    }
    @include responsive {
      &.default {
        opacity: 0;

        @include squareAnimation(2, 0s, right, scaleXAndFadeIn, 0.5s);
        @include squareAnimation(6, 0.1s, top, scaleYAndFadeIn, 0.5s);
        @include squareAnimation(8, 0.2s, bottom, scaleYAndFadeIn, 0.5s);
        @include squareAnimation(12, 0.3s, left, scaleXAndFadeIn, 0.5s);
      }
      &.hidden {
        opacity: 0;

        @include squareAnimation(
          12,
          0.1s,
          left,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          6,
          0.3s,
          top,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          8,
          0.3s,
          right,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          1,
          0.2s,
          top,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
      }
    }
  }
}
