.hero-banner {
  &--play-icon {
    position: absolute;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 100;
    display: unset;
    &.hidden {
      opacity: 0;
    }
    &.hidden-mobile {
      display: none;
    }
  }
  &--play-icon-wrapper {
    position: relative;
    cursor: pointer;

    &:before {
      transition:
        width 0.4s ease-in-out,
        height 0.4s ease-in-out,
        background-color 0.3s ease-in-out;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-55%, -50%);
      width: 0;
      height: 0;
      opacity: 0.3;
      background-color: $principal-blue;
      border-radius: 100%;
    }

    &:hover {
      &:before {
        width: 112px;
        height: 112px;
      }
    }

    &:active {
      &:before {
        width: 134px;
        height: 134px;
        opacity: 0.5;
      }
    }

    @include desktop {
      width: 40px;
      height: 60px;
    }
    @include mobile {
      width: 21px;
      height: 32px;
    }
  }
  &--video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    @include desktop {
      width: 74.5vw;
      height: 76vh;
      background-color: $principal-black;
      transition:
        transform 0.5s ease-in-out,
        width 0.5s ease-in-out,
        height 0.5s ease-in-out;
      transform-origin: right;
      animation: scaleXAndFadeIn 0.8s forwards ease-in-out;
      &.expanded {
        z-index: 100;
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
      }
    }
    @include mobile {
      align-items: flex-end;
      margin-bottom: 58px;
      background-color: $principal-black;
      transition:
        width 0.5s ease-in-out,
        height 0.5s ease-in-out;
      &.expanded {
        align-items: center;

        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100dvh;
      }
    }
  }
  &--video {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--video-wrapper {
    all: unset;
    cursor: pointer;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transition:
      filter 0.5s ease-in-out,
      height 0.5s ease-in-out;
    overflow: hidden;
    filter: brightness(0.5);
    &.expanded {
      filter: brightness(1);
    }
    @include desktop {
      video {
        width: 100vw;
      }
    }
    @include mobile {
      height: 399px;
      video {
        .expanded & {
          max-width: 100%;
        }
      }
    }
  }
}
