@use "sass:math";

$min-width: 1025px;

@mixin desktop() {
  @media (min-width: 1025px) {
    @content;
  }
}
@mixin mobile() {
  @media (max-width: 1025px) {
    @content;
  }
}

@mixin responsive() {
  @media (min-width: $min-width) and (orientation: portrait) {
    @content;
  }
}

@mixin mobileAndResponsive() {
  @include responsive {
    @content;
  }
  @include mobile {
    @content;
  }
}

@mixin desktopWithoutVerticalClass() {
  &:not(&.vertical) {
    @include desktop {
      @content;
    }
  }
}

@mixin squaresAnimation($animations, $keyframe) {
  @each $child, $duration in $animations {
    &:nth-child(#{$child}) {
      animation: #{$keyframe} #{$duration} forwards ease-in-out;
    }
  }
}

@mixin squareAnimation($child, $delay, $origin, $animation, $duration) {
  &:nth-child(#{$child}) {
    transform-origin: #{$origin};
    animation: #{$animation} #{$duration} forwards ease-in-out;
    animation-delay: #{$delay};
  }
}
