.hero-banner {
  &--container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    overflow: visible;
    @include desktop {
      height: 76vh;
    }
    @include mobile {
      height: 574px;
      padding-top: 58px;
    }
  }
  &--video-close-btn {
    display: none !important;
    all: unset;
    cursor: pointer;
    position: fixed;
    z-index: 1001;
    padding: 4px;
    top: 1.75rem;
    right: 1.75rem;
    aspect-ratio: 1 / 1;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;

    @include mobile {
      width: 20px;
    }
    @include desktop {
      width: 1vw;
    }

    &:hover {
      filter: brightness(0.8);
    }

    &.expanded {
      opacity: 1;
      display: flex !important;
    }
  }
}
