.hero-banner {
  $hidden-animation-duration: 0.6s;
  &--container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 76vh;
    max-height: 76vh;
    overflow: visible;
    @include mobile {
      height: 575px;
    }
  }
  &--logo-wrapper {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;

    &.hidden {
      opacity: 0;
    }
  }
  &--logo-container {
    position: relative;
    @include desktop {
      margin: 2rem;
      width: 14%;
      min-width: 203px;
      height: 84px;
    }

    @include mobile {
      margin: 2rem 1.5rem;
      min-width: 116px;
      height: 48px;
    }
  }

  &--video-close-btn {
    display: none;
    all: unset;
    cursor: pointer;
    position: fixed;
    z-index: 1001;
    padding: 4px;
    top: 1.75rem;
    right: 1.75rem;
    width: 1rem;
    height: 1rem;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;

    &:hover {
      filter: brightness(0.8);
    }

    &.expanded {
      opacity: 1;
      display: flex;
    }
  }

  @include mobile {
    &--first-square-wrapper,
    &--second-square-wrapper {
      position: absolute;
      height: 234px;
      width: fit-content;
      min-width: 175px;
      z-index: 100;
      bottom: 0;
      left: 0;
      opacity: 1;
      display: flex !important;

      &.hidden {
        bottom: -35%;
        animation: controlVisibility 0.8s forwards ease;
      }
    }
    &--second-square-wrapper {
      left: unset;
      top: 0;
      right: 0;
    }
    &--first-square-container,
    &--second-square-container {
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 235px;
      width: 100%;
    }
    &--first-square-item,
    &--second-square-item {
      width: 100%;
      aspect-ratio: 1 / 1;
      background-color: $principal-blue;
      transition: opacity 0.2s ease-in-out;
    }
    &--first-square-item {
      &.default {
        opacity: 0;

        @include squareAnimation(4, 0.1s, left, scaleXAndFadeIn, 0.5s);
        @include squareAnimation(8, 0.2s, top, scaleYAndFadeIn, 0.5s);
        @include squareAnimation(10, 0.3s, bottom, scaleYAndFadeIn, 0.5s);
      }

      &.hidden {
        opacity: 0;

        @include squareAnimation(
          3,
          0.3s,
          bottom,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          5,
          0.2s,
          left,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          6,
          0.3s,
          top,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          7,
          0.2s,
          right,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          11,
          0.1s,
          top,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          12,
          0,
          left,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
      }
    }
    &--second-square-item {
      &.default {
        opacity: 0;

        @include squareAnimation(2, 0.1s, left, scaleXAndFadeIn, 0.5s);
        @include squareAnimation(6, 0.2s, top, scaleYAndFadeIn, 0.5s);
        @include squareAnimation(8, 0.3s, bottom, scaleYAndFadeIn, 0.5s);
      }

      &.hidden {
        opacity: 0;

        @include squareAnimation(
          12,
          0.1s,
          left,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          6,
          0.3s,
          top,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          8,
          0.3s,
          right,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          1,
          0.2s,
          top,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
      }
    }
  }

  @include desktop {
    &--first-square-wrapper,
    &--second-square-wrapper {
      position: absolute;
      width: fit-content;
      min-width: 547px;
      height: 76vh;
      z-index: 1000;
      bottom: 0;
      left: 0;
      opacity: 1;
      overflow: visible;
      display: flex !important;
      &.hidden {
        animation: controlVisibility 0.8s forwards ease;
      }
    }
    &--first-square-container,
    &--second-square-container {
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 76vh;
      width: 100%;
      max-width: 100%;
    }
    &--second-square-wrapper {
      left: unset;
      top: 0;
      right: 0;
    }
    &--first-square-item,
    &--second-square-item {
      width: 100%;
      display: inline-block;
      overflow: hidden;
      height: 100%;
      aspect-ratio: 1 / 1;
      background-color: $principal-blue;
      transition: opacity 0.2s ease-in-out;
    }
    &--first-square-item {
      &.default {
        opacity: 0;
        @include squareAnimation(7, 0.2s, left, scaleXAndFadeIn, 0.5s);
        @include squareAnimation(9, 0.3s, top, scaleYAndFadeIn, 0.5s);
        @include squareAnimation(11, 0.4s, bottom, scaleYAndFadeIn, 0.5s);
      }

      &.hidden {
        opacity: 0;
        @include squareAnimation(
          3,
          0.3s,
          bottom,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          5,
          0.2s,
          right,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          6,
          0.1s,
          left,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          7,
          0.2s,
          right,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          11,
          0.1s,
          top,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          12,
          0,
          left,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
      }
    }

    &--second-square-item {
      &.default {
        opacity: 0;
        @include squareAnimation(2, 0s, right, scaleXAndFadeIn, 0.5s);
        @include squareAnimation(6, 0.1s, top, scaleYAndFadeIn, 0.5s);
        @include squareAnimation(8, 0.2s, bottom, scaleYAndFadeIn, 0.5s);
        @include squareAnimation(12, 0.3s, left, scaleXAndFadeIn, 0.5s);
      }

      &.hidden {
        opacity: 0;

        @include squareAnimation(
          12,
          0.1s,
          left,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          6,
          0.3s,
          top,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          11,
          0.2s,
          bottom,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          8,
          0.3s,
          right,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          1,
          0.2s,
          top,
          scaleYAndFadeInOut,
          $hidden-animation-duration
        );
        @include squareAnimation(
          2,
          0.1s,
          left,
          scaleXAndFadeInOut,
          $hidden-animation-duration
        );
      }
    }
  }
}
