.hero-banner {
  &--container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 76vh;
    max-height: 76vh;
    overflow: visible;
    @include mobile {
      height: 575px;
    }
  }
  &--logo-wrapper {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    opacity: 1;
    transition:
      transform 0.5s ease-in-out,
      opacity 0.5s ease-in-out;

    &.hidden {
      transform: translateY(50%);
      opacity: 0;
    }
  }
  &--logo-container {
    position: relative;
    @include desktop {
      margin: 2rem;
      width: 14%;
      min-width: 203px;
      height: 84px;
    }

    @include mobile {
      margin: 2rem 1.5rem;
      min-width: 116px;
      height: 48px;
    }
  }

  @include mobile {
    &--first-square-wrapper,
    &--second-square-wrapper {
      position: absolute;
      height: 234px;
      width: fit-content;
      min-width: 175px;
      z-index: 100;
      bottom: 0;
      left: 0;
      opacity: 1;
      overflow: hidden;
    }
    &--second-square-wrapper {
      left: unset;
      top: 0;
      right: 0;
    }
    &--first-square-container,
    &--second-square-container {
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 234px;
      width: 100%;
    }
    &--first-square-item,
    &--second-square-item {
      width: 100%;
      aspect-ratio: 1 / 1;
      background-color: $principal-blue;
      transition: opacity 0.2s ease-in-out;
    }
    &--first-square-item {
      &.default {
        opacity: 0;
        $animations: (
          4: 0.3s,
          8: 0.3s,
          10: 0.3s,
        );

        &:nth-child(11) {
          animation-delay: 0.1s !important;
        }
        &:nth-child(9) {
          animation-delay: 0.2s !important;
        }
        @include squaresAnimation($animations, fadeIn);
      }

      &.hidden {
        opacity: 0;
        $animations: (
          3: 1s,
          5: 0.8s,
          6: 0.6s,
          7: 0.4s,
          11: 0.2s,
          12: 0.1s,
        );

        @include squaresAnimation($animations, fadeInOut);
      }
    }
    &--second-square-item {
      &.default {
        opacity: 0;
        $animations: (
          2: 0.3s,
          6: 0.3s,
          8: 0.3s,
        );

        &:nth-child(11) {
          animation-delay: 0.1s !important;
        }
        &:nth-child(9) {
          animation-delay: 0.2s !important;
        }
        @include squaresAnimation($animations, fadeIn);
      }

      &.hidden {
        opacity: 0;
        $animations: (
          3: 1s,
          5: 0.8s,
          6: 0.6s,
          7: 0.4s,
          11: 0.2s,
          12: 0.1s,
        );

        @include squaresAnimation($animations, fadeInOut);
      }
    }
  }

  &--video-close-btn {
    display: none;
    all: unset;
    cursor: pointer;
    position: fixed;
    z-index: 101;
    padding: 4px;
    top: 1.75rem;
    right: 1.75rem;
    width: 1rem;
    height: 1rem;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;

    &.expanded {
      opacity: 1;
      display: unset;
    }
  }

  @include desktop {
    &--first-square-wrapper,
    &--second-square-wrapper {
      position: absolute;
      width: fit-content;
      min-width: 547px;
      height: 76vh;
      z-index: 1000;
      bottom: 0;
      left: 0;
      opacity: 1;
      overflow: visible;
    }
    &--first-square-container,
    &--second-square-container {
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 76vh;
      width: 100%;
      max-width: 100%;
    }
    &--second-square-wrapper {
      left: unset;
      top: 0;
      right: 0;
    }
    &--first-square-item,
    &--second-square-item {
      width: 100%;
      aspect-ratio: 1 / 1;
      background-color: $principal-blue;
      transition: opacity 0.2s ease-in-out;
    }
    &--first-square-item {
      &.default {
        opacity: 0;
        $animations: (
          7: 0.3s,
          9: 0.3s,
          11: 0.3s,
        );

        &:nth-child(11) {
          animation-delay: 0.1s !important;
        }
        &:nth-child(9) {
          animation-delay: 0.2s !important;
        }
        @include squaresAnimation($animations, fadeIn);
      }

      &.hidden {
        opacity: 0;
        $animations: (
          3: 1s,
          5: 0.8s,
          6: 0.6s,
          7: 0.4s,
          11: 0.2s,
          12: 0.1s,
        );

        @include squaresAnimation($animations, fadeInOut);
      }
    }

    &--second-square-item {
      &.default {
        opacity: 0;
        $animations: (
          2: 0.3s,
          6: 0.3s,
          8: 0.3s,
          12: 0.3s,
        );

        $index: 0;
        @each $child, $duration in $animations {
          $index: $index + 1;
          &:nth-child(#{$child}) {
            animation-delay: $index * 0.1s !important;
          }
        }
        @include squaresAnimation($animations, fadeIn);
      }

      &.hidden {
        opacity: 0;
        $animations: (
          1: 0.4s,
          2: 0.2s,
          6: 0.6s,
          8: 0.4s,
          11: 0.2s,
          12: 1s,
        );

        @include squaresAnimation($animations, fadeInOut);
      }
    }
  }
}
